table {
    margin: 10px auto;
}

table tr th {
    font-size: 20px;
    padding: 0 50px 10px 50px;
}

table tr td {
    padding: 0 50px 2px 50px;
}
table tr td a{
    color: white;
}

/* table tr td a:hover{
    text-decoration: none;
    color: var(--green-color);
} */
.btn-class:hover{
    text-decoration: none;
    color: var(--green-color);
}
.btn-class{
    text-decoration: none;
    color: white;
}
.footer-main-div {
    /* height: -800px; */
    position: relative;
    top: 1rem;
}