.contact-items-location{
    padding: 10px 0 0 5px;
    border: 2px solid rgb(222, 222, 222);
    background-color: rgb(238, 238, 238);
    width: 40%;
    margin: 10px 0; 
}

.contact-icons{
    width: 30px;
    height: 30px;
}

.item-text{
    padding: 0 0 0 30px;
}

.service-div{
    display: flex;
    margin: 0 0 10% 0;
}

.text-item{
    padding: 0 20px;
}

#tsparticles {
    position: absolute;
    /* left: calc(50% - 100px); */
    /* top: calc(50% - 100px); */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
    z-index: 10;
  }
